@model CedrosNahuizalquenos.Models.DetallesPedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetallesPedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anticipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anticipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido.PedidoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personalizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personalizacion.PersonalizacionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.ProductoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DetallePedidoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
