@model IEnumerable<CedrosNahuizalquenos.Models.Personalizacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpcionPersonalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostosExtras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OpcionPersonalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostosExtras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.ProductoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonalizacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonalizacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonalizacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
